@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Protecting Student Data Privacy: Classroom Fundamentals provides educators
    with the comprehensive and practical guidance they need to protect their students’
    privacy in and out of the classroom. It breaks student data privacy laws down into core concepts
    that are easy to apply across a variety of situations and use cases. It also encourages educators to
    engage fully in the work of protecting student data privacy, with the tips and best practices they need
    to create a more secure environment for student data across the education institution</p>
